* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Quicksand', sans-serif; }
  body .contenedor {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 3.1fr 0.7fr 0.5fr;
    grid-template-areas: "header" "section1" "section2" "pie"; }
  body .contenedor2 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2 0.5fr;
    grid-template-areas: "header" "section3" "pie"; }

.header {
  grid-area: header;
  display: flex;
  background: linear-gradient(#e2e1e1, #ecebeb, #f6f6f6, #f6f6f6, #ecebeb, #e2e1e1);
  justify-content: space-around; }
  .header img {
    width: 250px;
    margin-right: 100px; }
  .header .logo1 {
    border-radius: 10%;
    margin: 10px;
    transition: all 1s ease; }
    .header .logo1:hover {
      transform: scale(1.1, 1.1); }
  .header .nav-item {
    margin: 20px;
    font-size: 20px;
    font-weight: bold; }
    .header .nav-item .nav-link {
      padding: 10px 25px !important;
      border-radius: 25px; }
    .header .nav-item:hover {
      color: white !important;
      background-color: #f21d2f8d;
      border-radius: 25px; }
    .header .nav-item .presionado {
      color: white !important;
      background-color: #F21D2F; }

.pie {
  grid-area: pie;
  background-color: rgba(80, 79, 79, 0.072);
  background: linear-gradient(#e2e1e1, #ecebeb, #f6f6f6, #f6f6f6, #ecebeb, #e2e1e1);
  justify-content: space-around;
  align-items: center;
  padding: 30px; }

footer li {
  color: #F21D2F;
  list-style-type: none;
  font-weight: bold;
  text-align: center;
  font-size: 20px; }

.section1 {
  grid-area: section1;
  border: #F21D2F solid 6px;
  background-image: url(../fotos/fotogrupal.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding: 100px;
  margin: 90px; }
  .section1 h2 {
    color: #ffffff;
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px; }
  .section1 p {
    background-color: rgba(182, 178, 178, 0.64);
    opacity: .7;
    font-weight: bolder;
    font-size: 25px;
    padding: 70px;
    color: black;
    text-align: center; }

.section2 {
  grid-area: section2;
  display: flex;
  text-align: center;
  margin-top: 120px; }
  .section2 .mision {
    background-color: #F21D2F;
    color: white; }
  .section2 .vision {
    border: #F21D2F solid; }
  .section2 div {
    margin: 0px auto;
    width: 40%;
    padding: 20px; }
  .section2 h2 {
    font-size: 30px;
    font-weight: bold;
    text-decoration-line: underline;
    margin-bottom: 25px; }
  .section2 div p {
    font-size: 20px; }

.deportes {
  color: #F21D2F;
  font-size: 50px;
  font-weight: bold;
  margin-top: 80px;
  text-align: center; }

.section3 {
  grid-area: section3;
  text-align: center;
  margin-top: 100px; }
  .section3 h3 {
    font-weight: bold; }
  .section3 p {
    margin-top: 15px;
    font-size: 20px; }
  .section3 .section4 {
    display: flex; }
    .section3 .section4 div {
      margin: 0px auto;
      margin-bottom: 50px;
      width: 40%;
      padding: 20px;
      height: 550px; }
    .section3 .section4 .natacion {
      background-color: #9dbf21b0;
      border: #75920bfc solid; }
      .section3 .section4 .natacion img {
        width: 376px !important; }
      .section3 .section4 .natacion h3 {
        color: #60770d;
        font-size: 35px;
        margin-bottom: 15px; }
    .section3 .section4 .futbol {
      background-color: #36abd9a7;
      border: #075370 solid; }
      .section3 .section4 .futbol img {
        width: 300px !important; }
      .section3 .section4 .futbol h3 {
        color: #075370;
        font-size: 35px;
        margin-bottom: 15px; }
  .section3 .section5 {
    display: flex; }
    .section3 .section5 div {
      margin: 0px auto;
      margin-bottom: 50px;
      width: 40%;
      padding: 20px;
      height: 550px; }
    .section3 .section5 .zumba {
      background-color: #f28705cb;
      border: #d16900 solid; }
      .section3 .section5 .zumba img {
        width: 357px !important; }
      .section3 .section5 .zumba h3 {
        color: #d16900;
        font-size: 35px;
        margin-bottom: 15px; }
    .section3 .section5 .gimnasia {
      background-color: #f21d79b7;
      border: #d4005c solid; }
      .section3 .section5 .gimnasia img {
        width: 300px !important; }
      .section3 .section5 .gimnasia h3 {
        color: #d4005c;
        font-size: 35px;
        margin-bottom: 15px; }
  .section3 .section6 {
    margin: 0px auto;
    margin-bottom: 80px;
    width: 93%;
    padding: 20px;
    height: 400px; }
    .section3 .section6 .baile {
      background-color: #8c1b8497;
      border: #64005e solid; }
      .section3 .section6 .baile img {
        width: 300px; }
      .section3 .section6 .baile h3 {
        color: #64005e;
        font-size: 35px;
        margin-bottom: 15px; }

.alquiler {
  color: #F21D2F;
  font-size: 50px;
  font-weight: bold;
  margin: 80px 0px;
  text-align: center; }

.cansal {
  margin-bottom: 80px; }
  .cansal .cancha {
    margin: 0px auto;
    margin-bottom: 80px;
    width: 40%;
    padding: 20px;
    background-image: url(../fotos/cancha.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #F21D2F solid; }
    .cansal .cancha h3 {
      color: white;
      font-size: 40px;
      text-align: center;
      font-weight: bold; }
    .cansal .cancha p {
      text-align: center;
      font-size: 20px;
      background-color: rgba(245, 245, 245, 0.656);
      padding: 85px 20px;
      margin: 30px;
      font-weight: bold; }
  .cansal .salones {
    margin: 0px auto;
    width: 40%;
    padding: 20px;
    background-image: url(../fotos/salon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #F21D2F solid; }
    .cansal .salones h3 {
      color: white;
      font-size: 40px;
      text-align: center;
      font-weight: bold; }
    .cansal .salones p {
      text-align: center;
      font-size: 20px;
      background-color: rgba(245, 245, 245, 0.656);
      padding: 85px 20px;
      margin: 30px;
      font-weight: bold; }

.carrusel {
  margin-bottom: 80px !important; }
  .carrusel .noticias {
    color: #F21D2F;
    font-size: 50px;
    font-weight: bold;
    margin: 80px 0px;
    text-align: center; }
  .carrusel .carousel-inner h5 {
    font-weight: bold; }

.contactoh2 {
  color: #F21D2F;
  font-size: 50px;
  font-weight: bold;
  margin: 80px 0px;
  text-align: center; }

.section8 {
  display: flex; }
  .section8 .contacto {
    width: 50%; }
    .section8 .contacto h3 {
      text-align: center;
      margin-bottom: 20px;
      font-weight: bold; }
    .section8 .contacto .form-label {
      font-weight: bold; }
  .section8 .contacto2 {
    text-align: center;
    width: 50%; }
    .section8 .contacto2 h3 {
      text-align: center;
      margin-bottom: 40px;
      font-weight: bold; }

.redes {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 50px auto;
  margin-bottom: 80px; }
  .redes h3 {
    margin-bottom: 40px;
    font-weight: bold; }
  .redes a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    font-size: 25px;
    margin: 0px 20px; }
    .redes a:hover {
      color: #F21D2F; }
  .redes p {
    display: inline;
    font-size: 20px;
    margin: 0px 20px; }
  .redes img {
    width: 50px;
    margin: 0px 1px;
    border-radius: 50%; }

/*para celular*/
/*INICIO*/
@media screen and (max-width: 425px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "section1" "section2" "pie";
    text-align: center;
    margin: auto; }
    .contenedor .header {
      grid-area: header; }
      .contenedor .header img {
        width: 200px; }
    .contenedor .section1 {
      height: 600px; }
      .contenedor .section1 p {
        font-size: 15px;
        padding: 40px; }
      .contenedor .section1 h2 {
        font-size: 45px;
        margin: 10px 10px; }
    .contenedor .section2 {
      display: inline-block; }
      .contenedor .section2 div {
        margin: auto;
        width: 425px;
        padding: 50px; }
      .contenedor .section2 div p {
        font-size: 15px; }
    .contenedor .mision {
      margin-bottom: 60px !important; }
    .contenedor .pie ul li {
      font-size: 15px !important; } }

/*DEPORTES y ALQUILERES*/
@media screen and (max-width: 425px) {
  .contenedor2 {
    text-align: center;
    margin: auto; }
    .contenedor2 h2 {
      font-size: 35px; }
    .contenedor2 .header {
      grid-area: header; }
      .contenedor2 .header img {
        width: 200px; }
    .contenedor2 .section3 section {
      display: inline-block; }
    .contenedor2 .section3 h3 {
      font-size: 30px !important; }
    .contenedor2 .section3 p {
      font-size: 15px; }
    .contenedor2 .section4 div {
      width: 425px;
      height: 470px; }
    .contenedor2 .section4 .natacion img {
      width: 250px !important; }
    .contenedor2 .section4 .futbol img {
      width: 250px !important; }
    .contenedor2 .section5 div {
      width: 425px;
      height: 470px; }
    .contenedor2 .section5 .zumba img {
      width: 250px !important; }
    .contenedor2 .section5 .gimnasia img {
      width: 250px !important; }
    .contenedor2 .section6 div {
      width: 425px; }
    .contenedor2 .section6 .baile img {
      width: 250px !important; }
    .contenedor2 .alquiler {
      font-size: 35px; }
    .contenedor2 .cansal div {
      display: inline-block !important;
      width: 425px;
      height: 500px;
      margin-bottom: 50px; }
    .contenedor2 .cansal div h3 {
      font-size: 30px; }
    .contenedor2 .cancha p, .contenedor2 .salones p {
      font-size: 15px;
      padding: 30px; }
    .contenedor2 .carousel-inner {
      width: 310px !important;
      margin-bottom: 350px; }
    .contenedor2 .carousel {
      margin: 0px 155px !important; }
    .contenedor2 .noticias {
      font-size: 35px; }
    .contenedor2 .section8 {
      display: inline-block; }
    .contenedor2 .contactoh2 {
      font-size: 35px; }
    .contenedor2 .contacto {
      width: 100%;
      margin-bottom: 40px;
      font-size: 15px; }
    .contenedor2 .mapa {
      width: 425px; }
    .contenedor2 .redes a {
      display: block;
      font-size: 20px;
      margin-bottom: 20px; }
    .contenedor2 .redes img {
      width: 20px; }
    .contenedor2 .pie ul li {
      font-size: 15px !important; } }
