
    /*para celular*/


    /*INICIO*/

    @media screen and (max-width: 320px) {
    .contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "section1"
            "section2"
            "pie";
        text-align: center;
        margin: auto;
            .header{
                grid-area: header;
                & img{
                    width: 200px;
                }
             }
             .section1{
                height: 600px;
                & p{
                    font-size: 15px;
                    padding: 40px;
                }
                & h2{
                    font-size: 45px;
                    margin: 10px 10px;
                }
            }
            .section2{
                display: inline-block;
                & div{
                    margin: auto;
                    width: 320px;
                    padding: 50px ;
                }
                & div p{
                    font-size: 15px;
                }
            }
            .mision{
                margin-bottom: 60px !important;
            }
            .pie ul li{
                font-size: 15px !important;
            }
    }
}
    
      
    /*DEPORTES y ALQUILERES*/

    @media screen and (max-width: 320px){
    .contenedor2{
            text-align: center;
             margin: auto;
             & h2{
                font-size: 35px;
             }
             .header{
                grid-area: header;
                & img{
                    width: 200px;
                }
            }
            .section3 section{
                display: inline-block;
            }
            .section3 h3{
                 font-size: 30px !important;
            }
            .section3 p{
                font-size: 15px;
            }
            .section4 div{
                width: 320px;
                height: 470px; 
            }
            .section4 .natacion img{
                width: 250px !important;
            }
            .section4 .futbol img{
                width: 250px !important;
            }
            .section5 div{
                width: 320px;
                height: 470px; 
            }
            .section5 .zumba img{
                width: 250px !important;
            }
            .section5 .gimnasia img{
                width: 250px !important;
            }
           .section6 div{
                width: 320px;
            }
            .section6 .baile img{
                width: 250px !important
            }
            .alquiler{
                font-size: 35px;
            }
            .cansal div{
            display: inline-block !important;
            width: 320px;
            height: 500px;
            margin-bottom: 50px ;
            }
            .cansal div h3{
                font-size: 30px;
            }
            .cancha p, .salones p{
                font-size: 15px;
                padding: 30px;
            }
            .carousel-inner{
                width: 310px !important;
                margin-bottom: 350px;
            }
            .carousel{
                margin: 0px 155px !important;
            }
            .noticias{
                font-size: 35px;
            }
            .section8{
                display: inline-block;
            }
            .contactoh2{
                font-size: 35px;
            }
            .contacto{
                width: 100%;
                margin-bottom: 40px;
                font-size: 15px;
            }
            .mapa{
                width: 320px;
            }
            .redes a{
                display: block;
                font-size: 20px;
                margin-bottom: 20px;
            }
            .redes img{
                width: 20px;
            }
            .pie ul li{
                font-size: 15px !important;
            }
    
    }
}
            
            


  
 
     
    
    