.carrusel{
    margin-bottom: 80px !important;
    .noticias{
        color: $rojo;
        font-size: $tamaño;
        font-weight: $negrita;
        margin: 80px 0px;
        text-align: center;
    }
    .carousel-inner h5{
        font-weight: $negrita;
    }
    
}





