<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--CSS only-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="shortcut icon" href="../fotos/icono.png"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css"> 
    <meta name="description" content="Variedad de Actividades Fisícas y Alquiler de Canchas y Salones">
    <meta name="keywords"  content="NATACIÓN, FÚTBOL, ZUMBA, GIMNASIA, BAILE, CANCHA, SALON, DEPORTES, ALQUILER, SALTA">
    <title> Club Magnus | Deportes | </title>
</head>
<body>
    <div class="contenedor2">   
        <header class="header">
           <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> <img src="../fotos/logotipo.png" class="logo1" alt=""> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active presionado" aria-current="page" href="./deportes.html">Deportes</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./alquileres.html">Alquileres</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./noticias.html">Noticias Magnus</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
            </div>
            </nav>
        </header>
    <main>
        <h2 class="deportes"> Deportes </h2>
        <section class="section3">
            <section class="section4" data-aos="fade-right">
                <div class="natacion">
                     <h3> Natación </h3>
                     <img src="../fotos/persona-nadando.jpg" alt="Persona Nadando">
                    <p>¡Clases de Natación y Acuagym para todas las edades, desde los 2 años hasta 80 años o más!<br>Ofrecemos horarios para todos los niveles (inicial, principiante, avanzado).<br>¡Hasta podés formar parte de nuestro equipo de competición!</p>
                </div>
                <div class="futbol">
                    <h3> Fútbol </h3>
                    <img src="../fotos/futbol.jpg" alt="Chicas Jugando al Futbol">
                    <p>¡Súmate a nuestro equipo de futbol femenino!<br>¡Todos los años competimos en varios torneos donde compartimos una experiencia única!<br>Para jóvenes y adultos.</p>
                </div>
            </section>
            <section class="section5" data-aos="fade-right">
                <div class="zumba">
                    <h3> Zumba </h3>
                    <img src="../fotos/zumba.jpg" alt="Clase de Zumba">
                    <p>¡Vení a mover el cuerpo con la genia de Nelly Herrera!<br>¡Una actividad buenísima para liberar energía y divertirse!<br>Para adolescentes, jóvenes y adultos.</p>
                </div>
                <div class="gimnasia">
                    <h3> Gimnasia Rítmica </h3>
                    <img src="../fotos/gimnasia.jpg" alt="Persona haciendo Gimasia Ritmica">
                    <p>¡Una actividad con mucha diversión para que los niños empiecen con la expresión corporal!<br>¡A fin de año realizamos una muestra!</p>
                </div>    
            </section>
            <section class="section6"data-aos="fade-right">
                <div class="baile">
                    <h3> Baile Revolution </h3>
                    <img src="../fotos/baile.jpg" alt="Grupo bailando">
                    <p>¡Una gran familia que hace poquito se unió a nuestra comunidad!<br>Todos los años se realizan competiciones y muestras que generar una experiencia inolvidable.<br>¡No hay edad para el baile! Ofrecemos actividades para niños, adolescentes, jóvenes y adultos.</p>
                </div>
            </section>  
        </section>
    </main>
    <footer class="pie">
        <ul>
            <li> Salta Capital - Argentina </li>
            <li> Calle España N° 1650</li>
            <li> WhatsApp +54 9 3875439770 </li>
        </ul>
    </footer> 
    </div>

     <!-- JavaScript Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
     <script> AOS.init({ easing: 'ease-out-back',duration: 2000});</script>
</body>
</html>